.DS_Store
Source/Build/*
Source/externals/*
Source/release/*
**/*.lib
**/*.zip


*.pdf
*.a
#*.vcxproj

Source/dep/SOFA/src/*
!Source/dep/SOFA/src/Sofa.h

Source/SofaMax.xcodeproj/project.xcworkspace/xcuserdata/*
Source/SofaMax.xcodeproj/xcuserdata/*
