<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All SOFA Externals.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>sofa.fir~.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>sofa.genfire~.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>sofa.hrir~.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>sofa.info~.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>sofa.msbrir~.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>sofa.poke~.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>sofa.srdrir~.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>sofa~.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2D1F41DC225C99D700372519</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D7ADA1322314156000633F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D7ADA3822314548000633F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D846F6B2231544C00BBB30B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D85FAE6224B0C3B0088B0E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D94739D2229712A004F7983</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D9DA349222806EE00CE2AFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D9DA37022280AAA00CE2AFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2DD9B55C2208AB770059570C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2DD9B5762208AD000059570C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2DD9B57A2208AD0E0059570C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2DD9B5852208B4AC0059570C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2DE61C7D224909F90049620B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2DF93EEC1FB5C53E00AA36B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2DFD6A8521EE077200A6916E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FBBEAD608F335360078DB84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
